@-webkit-keyframes swing-out-top-fwd {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
    display: none;
  }
}

@keyframes swing-out-top-fwd {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
    display: none;
  }
}


ion-content {
  --background: radial-gradient(circle, rgb(255, 49, 49) 0%, rgb(71, 14, 14) 94%);
}

.container {
  height: 100%;

  ion-row {
    height: 33%;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: Bahnschrift condensed !important;
    font-weight: 750 !important;
    text-transform: uppercase;
    color: #b2b5af !important;

    * {
      -webkit-animation: swing-out-top-fwd 1s ease-out 1.5s 1 normal forwards;
      animation: swing-out-top-fwd 1s ease-out 1.5s 1 normal forwards;
    }

    img {
      width: 150px;
    }
  }
}