<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alarma de robo</ion-title>
    <ion-buttons *ngIf="userInSession" slot="primary">
      <ion-button fill="outline" (click)="signOut()"> Cerrar sesión </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="container bg-img">
  <ng-container *ngIf="userInSession; else noUser">
    To continue...
  </ng-container>
  <ng-template #noUser>
    <ion-card style="align-content: center;" class="ion-padding ion-margin">
      <ion-card-content>No podemos proteger su teléfono si no sabemos quién es.</ion-card-content>
      <ion-card-title>Usuario no registrado.</ion-card-title>
      <ion-button expand="block" color="danger" (click)="navCtrl.navigateBack('/login')">Identifíquese</ion-button>
    </ion-card>
  </ng-template>
</div>