<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alarma de robo</ion-title>
    <ion-buttons *ngIf="userInSession" slot="primary">
      <ion-button fill="outline" (click)="signOut()"> Cerrar sesión </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="container bg-img">
  <div class="img-container" [class]="isActivated ? 'move-around' : ''">
    <img src="../../assets/alarm.png" [class]="isActivated ? 'wobble' : ''" (click)="toggleAlarm()">
  </div>
</div>